* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

/* color theme varaible are initialsed */
:root {
    /* --primary: rgb(131, 5, 5);
    --secondary: rgb(240, 15, 15); */
    --primary: rgba(139, 0, 21, 255);
    --secondary: rgb(240, 15, 15);
    /* --primary : rgb(15, 0, 32);
    --secondary : rgb(9, 61, 110); */
}

/* this will remove horizontal side bar */
body {
    overflow-x: hidden !important;
}

/* this will put red start after required fields on form */
.label-required::after {
    content: " *";
    color: rgb(240, 15, 15);
    font-size: 18px;
}

/* this will hide that message which comes if you have not filled all required fields */
.validation-msg {
    display: none;
}

.btn-light {
    color: var(--primary);
    /* color : rgb(15, 0, 32); */
    font-weight: 500;
}

.navbar-light {
    color: white !important;
}


.form-radius {
    border-radius: 40px;
}


/* class to hide apply button in pages */
.hide-me {
    visibility: hidden;
}

.bg-light {
    background-color: var(--primary);
}

.btn-light:hover {
    background-color: rgb(22, 230, 22);
    color: white;
}

.btn-light:active {
    background-color: rgb(9, 61, 110);
    color: rgb(218, 130, 16);
}


/* css of user icon */
.profile {
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
    width: 35px;
    height: 38px;
    padding: 2px;
    font-size: 25px;
    color: var(--primary);
    /* color : rgb(15, 0, 32); */
}

.form-width,
#navbarSupportedContent {
    width: 276px;
}

.form-btn-container {
    display: flex;
    justify-content: space-between;
    width: 156px;
}

.main-header {
    /* background-color: rgb(15, 0, 32); */
    background-color: var(--primary);
    color: white;
}

.navbar-brand {
    color: white;
    font-weight: 500;
}

.profile-container {
    width: 110px;
    height: 100%;
}

.btn-container .btn {
    margin-left: 10px !important;
    margin-bottom: 10px;
    background-color: var(--primary);
    color: white;
}
.btn-theme{
    background-color: var(--primary);
    color: white;
}

.btn-container .btn:hover {
    border: 2px solid black;
    text-decoration: underline;
}

/* css to make navbar sticky */
header {
    position: sticky;
    top: -86px;
    z-index: 5;
}

.college-header {
    z-index: 6;
}

.btn-container .btn:active{
    border: 2px solid black;
    background-color: var(--secondary) !important;
}

.college-name {
    flex: 1;
    position: absolute;
    width: 100vw;
}

.add-font {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}

.college-logo img {
    height: 86px;
    width: 170px;
}

.heart-beat-animation {
    animation: beat 1.5s infinite;
}

.container {
    margin: auto;
    background-color: whitesmoke;
    max-width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1.6px solid black;
}

form {
    max-width: 750px;
    margin: 1rem auto;
}


form.w-100{
    max-width : 100vw !important;
}

.btn-container {
    margin-top: 20px;
}

.btn-active {
    border: 2px solid black;
    background-color: var(--secondary) !important;
}

.table-container {
    width: 70vw;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-toggler {
    background-color: var(--secondary) !important;
}

.table {
    border: 2px solid black;
    font-weight: 500;
}

.table-header {
    background-color: var(--primary);
    color: white;
}




@keyframes beat {
    0% {
        transition: scale(1, 1)
    }

    100% {
        transform: scale(1.5, 1.5)
    }
}

@media only screen and (min-width: 576px) {

    .navbar {
        height: 60px !important;
    }
}

@media only screen and (max-width: 850px) {
    .college-name {
        position: static;
    }
}

@media only screen and (max-width: 770px) {
    .table-container {
        width: 90vw;
    }
}

@media only screen and (max-width: 576px) {

    .form-width,
    #navbarSupportedContent {
        width: 100%;
    }

    @keyframes beat {
        0% {
            transition: scale(1, 1)
        }

        100% {
            transform: scale(1.3, 1.3)
        }
    }

    .college-logo img {
        height: 66px;
        width: 120px;
    }

    header {
        top: -66px;
    }

    .hide-me {
        display: none;
    }

    .table-container {
        width: 98vw;
    }
}

@media screen and (max-width:426px) {
    form {
        margin: auto;
        /* padding: auto; */
    }
}

@media only screen and (max-width: 350px) {

    .form-width,
    #navbarSupportedContent {
        width: 100vw;
    }

    .form-btn-container {
        width: 100%;
        justify-content: flex-start;
    }

    .form-btn-container .btn {
        margin-right: 10px;
    }

    .college-name {
        display: none;
    }
}








