*{
    margin : 0;
    padding : 0;
}
:root {
    --primary:  rgb(131, 5, 5);
    --secondary: rgb(240, 15, 15);
    /* --primary : rgb(15, 0, 32);
    --secondary : rgb(9, 61, 110); */
  }
.btn-light{
    color : var(--primary);
    /* color : rgb(15, 0, 32); */
    font-weight: 500;
}
.btn-light:hover{
    background-color: rgb(22, 230, 22);
    color : white;
}
.btn-light:active{
    background-color: rgb(9, 61, 110);
    color : rgb(218, 130, 16);
}
.profile{
    background-color : white;
    border-radius : 50%;
    width : 35px;
    height : 35px;
    padding : 2px;
    font-size: 25px;
    color : var(--primary);
    /* color : rgb(15, 0, 32); */
}
.form-width{
    width : 190px;
}
.main-header{
    /* background-color: rgb(15, 0, 32); */
    background-color: var(--primary);
    color : white;
}
.navbar-brand{
    color: white;
    font-weight : 500;
}
.profile-container{
    width : 110px;
}
.btn-container .btn{
    margin-left : 10px !important;
    margin-bottom : 10px;
    background-color : var(--primary);
    color : white;
}
.btn-container .btn:hover{
    border: 2px solid black;
    text-decoration: underline;
}
.btn-container .btn:active{
    border: 2px solid black;
    background-color: var(--secondary) !important;
}
.btn-container{
    margin-top : 50px;
}
.btn-active{
    border: 2px solid black;
    background-color: var(--secondary) !important;
}
.table-container{
    width : 70vw;
}
.table{
    border : 2px solid black;
    font-weight : 500;
}
.table-header{
    background-color :var(--primary);
    color : white;
}
@media only screen and (max-width: 720px) {
    .table-container{
        width : 90vw;
    }
}
@media only screen and (max-width: 450px) {
    .table-container{
        width : 98vw;
    }
}

